<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asuspt.deadlinecloud"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
<uses-permission android:name="android.permission.WRITE_CALENDAR"/>
<uses-permission android:name="android.permission.READ_CALENDAR"/>
   
<application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="asupt.deadlinecloud.activities.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="asupt.deadlinecloud.activities.DeadlinesActivity"
            android:label="@string/title_activity_deadlines"
            android:parentActivityName="asupt.deadlinecloud.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asuspt.deadlinecloud.activities.HomeActivity" />
        </activity>
        <activity
            android:name="asupt.deadlinecloud.activities.AddDeadlineActivity"
            android:label="Add Deadline"
            android:parentActivityName="asupt.deadlinecloud.activities.DeadlinesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asuspt.deadlinecloud.activities.HomeActivity" />
        </activity>
        <activity
            android:name="asupt.deadlinecloud.activities.SyncActivity"
            android:label="@string/title_activity_sync"
            android:parentActivityName="asupt.deadlinecloud.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asuspt.deadlinecloud.activities.HomeActivity" />
        </activity>
        <activity
            android:name="asupt.deadlinecloud.activities.RemindersActivity"
            android:label="@string/title_activity_reminders"
            android:parentActivityName="asupt.deadlinecloud.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asupt.deadlinecloud.activities.HomeActivity" />
        </activity>
        <activity
            android:name="asupt.deadlinecloud.activities.AddGroupActivity"
            android:label="@string/title_activity_add_group"
            android:parentActivityName="asupt.deadlinecloud.activities.SyncActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asupt.deadlinecloud.activities.SyncActivity" />
        </activity>
        <activity
            android:name="asupt.deadlinecloud.activities.MyGroupsActivity"
            android:label="My Groups"
            android:parentActivityName="asupt.deadlinecloud.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asupt.deadlinecloud.activities.HomeActivity" />
        </activity>
        <activity
            android:name="asupt.deadlinecloud.activities.AdminToolsActivity"
            android:label="@string/title_activity_activity_admin_tools"
            android:parentActivityName="asupt.deadlinecloud.activities.MyGroupsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asupt.deadlinecloud.activities.MyGroupsActivity" />
        </activity>
        <activity
            android:name="asupt.deadlinecloud.activities.GroupDeadlineActivity"
            android:label="@string/title_activity_group_deadline"
            android:parentActivityName="asupt.deadlinecloud.activities.MyGroupsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asupt.deadlinecloud.activities.MyGroupsActivity" />
        </activity>
    </application>

</manifest>